1. Follow the instructions on https://clerk.com/docs/quickstarts/nextjs for more information on how to use Clerk
2. Follow the instructions on https://clerk.com/docs/references/nextjs/clerk-middleware for more information on how to use Clerk